.landing {
  padding-bottom: 100px;
  position: relative;
  background: var(--bglinear-gradient);
}

.landing:not(.home-page .landing) {
  padding-top: 70px;
}
.landing .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.landing img {
  width: 50%;
}

.landing h1 {
  font-size: 70px;
  max-width: 600px;
  line-height: 90px;
}

.landing p {
  max-width: 500px;
}

.landing h4 {
  text-align: center;
}

/* MEDIA QUERY */
@media (max-width: 1200px) {
  .landing .container {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
  }

  .landing .content {
    align-items: center;
    text-align: center;
  }

  .landing img {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 579px) {
  .landing .container {
    padding: 0 40px;
  }

  .landing h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .landing p {
    font-size: 15px;
  }
}
