.faq {
  background-color: var(--bs-white);
}

.faq .faq-box .faq-item {
  cursor: pointer;
  padding: 20px 50px;
  border-radius: 20px;
  max-width: 70%;
  min-width: 70%;
  margin: 0 auto;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 9px 7px 0 rgba(0, 0, 0, 0.03),
    0 18px 14px 0 rgba(0, 0, 0, 0.04), 0 36px 29px 0 rgba(0, 0, 0, 0.05);
}

.faq .faq-box .faq-item > * {
  pointer-events: none;
}

.faq h4 {
  font-size: 20px;
  color: var(--sub-title-color);
  letter-spacing: 2px;
}

.faq h3:not(.faq .faq-box h3) {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--title-color);
}

.faq .faq-box h3 {
  font-size: 30px;
  color: var(--title-color);
  max-width: 80%;
}

.faq .faq-box p {
  color: var(--dark-gray);
}

.plus-icon {
  position: relative;
  background-color: var(--title-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.plus-icon::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 40%;
  background-color: var(--bs-white);
  border-radius: 10px;
}

.plus-icon::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  height: 3px;
  width: 40%;
  background-color: var(--bs-white);
  border-radius: 10px;
  transition: var(--trasition-1);
}

.faq-item.active .plus-icon::before {
  transform: translate(-50%, -50%);
}

.faq-item .response {
  margin-top: 20px;
  display: none;
}

.faq-item.active .response {
  display: block;
}
/* media */
@media (max-width: 1200px) {
  .faq .faq-box .faq-item {
    max-width: 100%;
  }
}

@media (max-width: 799px) {
  .faq .faq-box .faq-item h3 {
    font-size: 25px;
  }
}

@media (max-width: 579px) {
  .faq .faq-box .faq-item {
    max-width: 100%;
    padding: 20px;
  }
  .faq .faq-box .faq-item h3 {
    font-size: 20px;
  }
}
